# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ilk
*.pdb
build/Debug
build/Release
build/Production
build/.vs
*.db
*.opendb
*.tlog
*.lastbuildstate
*.idb
build/x64/Production
build/stdPlugin/x64/Release
build/x64/Release
build/stdPlugin/x64/Production
build/stdPlugin/Debug
